@tailwind base;
@tailwind components;
@tailwind utilities;






@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 0.5;
  }

  100% {
      opacity: 1;
  }
}


/* style scrol */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.css-1n7ec1i-line{
  /* make this important */
  vertical-align: bottom !important;
}

.added {
  background-color: #ddffdd;
}

.removed {
  background-color: #ffdddd;
}

.unchanged {
  /* No special styling for unchanged parts */
}


.react-diff-1n7ec1i-line {
  /* make this important */
  vertical-align: middle !important;
}

td > a {
  color: #000;
  text-decoration: none;
}